.floating-navbar {
    position: fixed;
    top: 10px; /* Adjust the vertical position */
    left: 53%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(51, 51, 51, 0.46);
    height: 35px; /* Adjust the height here */
    padding: 10px 30px; /* Adjust padding if necessary */
    border-radius: 50px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
    z-index: 1;
  }
  
  .floating-navbar a {
    color: #fff;
    text-decoration: none;
    /* margin: 0 10px; */
    font-size: 20px; /* Adjust the size of icons if necessary */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Adjust width to match height */
    height: 50px; /* Adjust height for each button */
    /* border-radius: 50%; */
    transition: background-color 0.3s;
  }
  

  