body {
  background: #181818;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  padding: 60px;
}

.content {
  display: flex;
  gap: 90px;
  align-items: center;
}



/* // hero css */
.hero {
  text-align: left;
  color: white;
  max-width: 600px;
}

.hero h1 {
  font-size: 59px;
  font-weight: bold;
}

.hero span {
  color: #333;
}

.hero p {
  margin-top: 10px;
  color: #888;
}


/* // profile card*/
.profile-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
}
.profile-card {
  margin-left: 90px; /* Adjust the value as needed */
}

.profile-card img {
  width: 100%;
  border-radius: 10px;
}

.profile-card h2 {
  margin-top: 10px;
  font-weight: bold;
}

.profile-card p {
  font-size: 14px;
  color: #555;
}

/* // statSection */


.stats {
  display: flex;
  gap: 70px;
  margin-top: 20px;
  /* border: "1px solod white"; */

}

.stat {
  text-align: center;
  /* border: "1px solod white"; */
}

.stat h2 {
  font-size: 45px;
  font-weight: bold;
}

.stat p {
  font-size: 14px;
  color: #888;
}

